<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am in the AppComponent</h3>
      <hr>
      <app-servers></app-servers>
    </div>
    <app-assignments></app-assignments>
  </div>
</div> -->
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" 
  (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor=" let serverElement of serverElements" [srvElement]="serverElement">
        <p #contentParagraph>
          <strong *ngIf="serverElements.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElements.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <hr>
  <p appHighlight = "yellowgreen" [defaultColor] = "'bisque'">Style me with your own directives!</p>
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="100">Value is 100</p>
    <p *ngSwitchDefault="5">Value is Default</p>
  </div>
</div>
